<a href="https://colab.research.google.com/github/mainak8967/MACHINE_LEARNING/blob/main/DiabetesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

PIMA Diabetes Dataset

In [3]:
#loading the diabetes dataset to a pandas dataframe
diab_data=pd.read_csv('/content/diabetes.csv')

In [7]:
pd.read_csv?
#helps in telling what the fxn is used for

In [8]:
diab_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
diab_data['Outcome'].value_counts

<bound method IndexOpsMixin.value_counts of 0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64>

In [10]:
diab_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0->non-diabetic
1->diabetic

In [11]:
diab_data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [13]:
#separating data and labels
x=diab_data.drop(columns='Outcome',axis=1)
y=diab_data['Outcome']

Data Standardisation

In [14]:
scaler=StandardScaler()

In [15]:
scaler.fit(x)
StandardScaler(copy=True,with_mean=True,with_std=True)

StandardScaler()

In [16]:
standardised_data=scaler.transform(x)

In [17]:
x=standardised_data
y=diab_data['Outcome']

Train test Split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

Training The Model

In [19]:
classifier=svm.SVC(kernel='linear')

In [20]:
#supporting the vector machine
classifier.fit(x_train,y_train)

SVC(kernel='linear')

Model Evaluation

In [21]:
#accuracy score on test data

In [22]:
x_test_prediction=classifier.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [23]:
print(test_data_accuracy)

0.7727272727272727

Making A Predictive System

In [25]:
input_data=(7,196,90,0,0,39.8,0.451,41)
#8,99,84,0,0,35.4,0.388,50,0
7,196,90,0,0,39.8,0.451,41,1 (#dont give 0 or 1 thats what we need to find)
input_data_as_array=np.asarray(input_data)
input_data_reshaped=input_data_as_array.reshape(1,-1)
#standardise the input
std_data=scaler.transform(input_data_reshaped)
prediction=classifier.predict(std_data)
print(prediction)

[1]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(