In [29]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [4]:
data =pd.read_csv('/content/student-mat.csv',sep=';')
print( data.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [9]:
data =data[['G1','G2','G3','studytime','failures','absences']]

In [10]:
data

     G1  G2  G3  studytime  failures  absences
0     5   6   6          2         0         6
1     5   5   6          2         0         4
2     7   8  10          2         3        10
3    15  14  15          3         0         2
4     6  10  10          2         0         4
..   ..  ..  ..        ...       ...       ...
390   9   9   9          2         2        11
391  14  16  16          1         0         3
392  10   8   7          1         3         3
393  11  12  10          1         0         0
394   8   9   9          1         0         5

[395 rows x 6 columns]

In [ ]:
predict='G3'
x=np.array(data.drop([predict],1))
y=np.array(data[predict])

In [13]:
x

array([[ 5,  6,  2,  0,  6],
       [ 5,  5,  2,  0,  4],
       [ 7,  8,  2,  3, 10],
       ...,
       [10,  8,  1,  3,  3],
       [11, 12,  1,  0,  0],
       [ 8,  9,  1,  0,  5]])

In [14]:
y

array([ 6,  6, 10, 15, 10, 15, 11,  6, 19, 15,  9, 12, 14, 11, 16, 14, 14,
       10,  5, 10, 15, 15, 16, 12,  8,  8, 11, 15, 11, 11, 12, 17, 16, 12,
       15,  6, 18, 15, 11, 13, 11, 12, 18, 11,  9,  6, 11, 20, 14,  7, 13,
       13, 10, 11, 13, 10, 15, 15,  9, 16, 11, 11,  9,  9, 10, 15, 12,  6,
        8, 16, 15, 10,  5, 14, 11, 10, 10, 11, 10,  5, 12, 11,  6, 15, 10,
        8,  6, 14, 10,  7,  8, 18,  6, 10, 14, 10, 15, 10, 14,  8,  5, 17,
       14,  6, 18, 11,  8, 18, 13, 16, 19, 10, 13, 19,  9, 16, 14, 13,  8,
       13, 15, 15, 13, 13,  8, 12, 11,  9,  0, 18,  0,  0, 12, 11,  0,  0,
        0,  0, 12, 15,  0,  9, 11, 13,  0, 11,  0, 11,  0, 10,  0, 14, 10,
        0, 12,  8, 13, 10, 15, 12,  0,  7,  0, 10,  7, 12, 10, 16,  0, 14,
        0, 16, 10,  0,  9,  9, 11,  6,  9, 11,  8, 12, 17,  8, 12, 11, 11,
       15,  9, 10, 13,  9,  8, 10, 14, 15, 16, 10, 18, 10, 16, 10, 10,  6,
       11,  9,  7, 13, 10,  7,  8, 13, 14,  8, 10, 15,  4,  8,  8, 10,  6,
        0, 17, 13, 14,  7, 15, 12,  9, 12, 14, 11,  9, 13,  6, 10, 13, 12,
       11,  0, 12, 12,  0, 12,  0, 18, 13,  8,  5, 15,  8, 10,  8,  8, 12,
        8, 13, 11, 14,  0, 18,  8, 12,  9,  0, 17, 10, 11, 10,  0,  9, 14,
       11, 14, 10, 12,  9,  9,  8, 10,  8, 10, 12, 10, 11, 11, 19, 12, 14,
       15, 11, 15, 13, 18, 14, 11,  0,  8, 14, 16, 11, 10, 14, 18, 13, 12,
       18,  8, 12, 10,  0, 13, 11, 11, 13, 11,  0,  9, 10, 11, 13,  9, 11,
       15, 15, 11, 16, 10,  9, 14,  8, 14,  0,  0,  0, 15, 13,  0, 17, 10,
       11,  0, 15,  0, 10, 14, 16,  9, 15, 13,  8, 13,  8,  8, 11,  9, 13,
       11, 10, 16, 13, 12, 10, 15, 12, 10, 13,  0, 10, 11,  9, 12, 11,  5,
       19, 10, 15, 10, 15, 10, 14,  7, 10,  0,  5, 10,  6,  0,  8,  0,  9,
       16,  7, 10,  9])

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [28]:
print(x.shape,x_train.shape,x_test.shape)

(395, 5) (316, 5) (79, 5)

In [30]:
linear =linear_model.LinearRegression()

In [31]:
linear.fit(x_train,y_train)

LinearRegression()

In [32]:
acc=linear.score(x_test,y_test)
print(acc)

0.8336728758720898

In [33]:
print('Coefficient:/n',linear.coef_)
print('Intercept:/n',linear.intercept_)

Coefficient:/n [ 0.15029725  0.99493465 -0.07487549 -0.22912781  0.04352235]
Intercept:/n -1.9436500438037214

In [34]:
predictions=linear.predict(x_test)

In [36]:
for x in range(len(predictions)):
  print(predictions[x],x_test[x],y_test[x])

8.36398332165135 [10  9  2  0  0] 9
13.975806918910218 [13 14  3  0  6] 14
14.039059472007729 [14 14  3  0  4] 14
10.591194570139367 [11 11  2  0  2] 11
3.629349663513242 [7 5 3 1 0] 0
-1.9544227264601943 [5 0 1 3 0] 0
8.538072709166252 [10  9  2  0  4] 11
7.156045126081274 [9 8 4 0 2] 8
7.845883961556664 [7 9 1 1 2] 8
10.5790253706493 [11 11  1  0  0] 12
11.811301965199512 [12 12  1  0  2] 14
10.74149181699433 [12 11  2  0  2] 12
11.13319293890286 [12 11  2  0 11] 11
14.709607491575664 [13 15  3  0  0] 15
7.3539266542561155 [ 8  8  4  0 10] 8
-1.116195798621133 [7 0 3 0 0] 0
16.30979306737447 [15 16  3  0  7] 15
8.411567602971232 [8 9 2 0 8] 10
8.213686074796389 [9 9 2 0 0] 10
10.215724582162062 [ 9 11  3  0  2] 11
14.93478023269801 [14 15  2  0  0] 15
15.172122173310424 [15 15  2  0  2] 16
14.188810460542491 [14 14  1  0  4] 14
9.766957099437771 [ 7 10  2  1 25] 11
8.636740344093575 [9 9 1 0 8] 10
9.319457563151582 [ 8 10  2  0  6] 10
15.714120542073914 [16 15  2  0 11] 15
12.592686819184843 [10 13  1  0  4] 14
8.408265662868004 [ 9  9  2  2 15] 9
8.37615252114142 [10  9  3  0  2] 8
9.47030106832674 [10 10  4  0  6] 11
5.786565357357501 [ 7  6  1  0 18] 6
16.45602837978828 [18 16  3  0  0] 16
15.527861955068943 [16 15  1  0  5] 16
9.608429115691635 [11 10  3  0  4] 11
10.978833757606743 [13 11  2  0  4] 11
9.382710116249093 [ 9 10  2  0  4] 10
6.12866480811442 [7 7 1 0 3] 8
-0.7407258106438273 [9 0 2 0 0] 0
8.593764255535048 [10  9  3  0  7] 9
16.3806066272007 [17 16  2  0  0] 17
15.259166867067872 [15 15  2  0  4] 15
8.234176275353102 [ 9  9  2  2 11] 9
10.65444712323688 [12 11  2  0  0] 12
7.642458816484837 [ 9  8  2  1 15] 8
12.818952076947584 [13 13  4  0  4] 12
11.369170616012605 [11 12  3  1  4] 11
7.7050582432532835 [10  8  1  0  6] 11
11.898346658956964 [12 12  1  0  4] 13
13.824963413735057 [11 14  1  0  6] 14
12.171649939719387 [12 12  2  0 12] 11
2.555038190555571 [7 4 1 2 0] 0
18.23234788771141 [16 18  3  0  2] 18
16.328977015273058 [15 16  1  0  4] 15
-1.9544227264601943 [5 0 1 3 0] 0
10.639325109779447 [10 11  4  0 10] 11
4.467244069049835 [ 6  5  1  0 14] 5
8.561864849826193 [9 9 2 0 8] 9
12.258694633476837 [12 12  2  0 14] 12
12.025398023472185 [15 12  3  0  0] 14
8.449000074632774 [ 8  8  1  0 30] 8
9.295665422491641 [ 9 10  2  0  2] 10
12.215172286598111 [12 12  2  0 13] 13
18.59619493451884 [19 18  3  0  0] 19
-1.8755921657605228 [4 0 1 2 0] 0
14.731461955635048 [15 14  2  1 20] 13
19.284445219529537 [17 18  2  0 21] 18
8.214232333116588 [10  9  4  0  0] 0
6.317818198242213 [7 8 2 3 2] 9
-0.8229651794555906 [12  0  3  2  0] 0
5.3635110880603145 [ 7  6  2  0 10] 6
9.13319897614661 [ 8 10  1  0  0] 11
6.989623613303953 [9 8 2 1 0] 0
12.155418805788162 [14 12  1  0  3] 12
7.36904866771355 [10  8  2  0  0] 9
8.908026235024266 [ 7 10  2  0  0] 11
13.849291261770896 [11 12  2  0 54] 11
7.068454174003625 [8 8 2 0 0] 9
7.984558267241756 [9 9 2 1 0] 0